<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartfram.chameleon_house.domain.house_machine.dao.HouseMachineMapper">

    <select id="get_plc_url">

        SELECT  plc_url
        FROM    house
        WHERE   house_id = 1;

    </select>

</mapper>