<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartfram.chameleon_house.domain.weather.dao.WeatherMapper">


    <!-- DB의 기상청 데이터 가져오기 -->
    <select id="read_weather_data"
        resultType = "com.smartfram.chameleon_house.domain.weather.dto.WeatherDataDTO">

        SELECT  *
        FROM    weather
        WHERE   weather_date = #{cur_date} AND weather_time = #{cur_time}

    </select>

    <!-- DB에 기상청 데이터 저장 -->
    <insert id="create_weather_data"
        parameterType="java.util.List">

        INSERT INTO weather (weather_date, weather_time, 
                weather_tem, weather_hum, weather_wind, weather_status)

        VALUES 
            <foreach collection='weatherDataList' item='weather' separator=','>
                (#{weather.weather_date}, #{weather.weather_time}, 
                    #{weather.weather_tem}, #{weather.weather_hum}, #{weather.weather_wind}, #{weather.weather_status})
            </foreach>

    </insert> 

</mapper>